.titulos {
    color: rgb(239, 255, 22);
    font-size: 10ex;
    text-align: center;
     }
.bar {
        border-bottom: solid 1px;
        margin-bottom: 50px;
    }
    
.bar_items {
        display: flex;
        justify-content: space-around;
    }

.foot { 
    background-color:rgb(243, 255, 135);
    border-top: solid 2px;
    
}
.posts {
    -webkit-box-shadow: inset 0px 0px 76px 4px rgba(255,213,0,1);
    -moz-box-shadow: inset 0px 0px 76px 4px rgba(255,213,0,1);
    box-shadow: inset 0px 0px 76px 4px rgba(255,213,0,1);
    margin-bottom: 50px;
}

.subtitulo { text-align: center;

}

