.titulos {
    color: rgb(239, 255, 22);
    font-size: 10ex;
    text-align: center;
     }
.bar {
        border-bottom: solid 1px;
        margin-bottom: 50px;
    }
    
.bar_items {
        display: flex;
        justify-content: space-around;
    }

.foot { 
    background-color:rgb(243, 255, 135);
    border-top: solid 2px;

}
.posts {
    box-shadow: 10px 10px 5px 11px rgba(243, 247, 6, 0.75);
    -webkit-box-shadow: 10px 10px 5px 11px rgba(243, 247, 6, 0.75);
    -moz-box-shadow: 10px 10px 5px 11px rgba(243,247,6,0.75);
    margin: 40px 20px 20px 20px;
    padding: 10px;
    margin-bottom: 50px;
}

.subtitulo { text-align: center;

}