<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div>
            <h1 class="titulos">Blog de Brewing</a></h1>  
        </div>
        <div class="bar">
            <ul class="bar_items">
             
                <li><strong><a href="login"> Login</a></strong></li>
                <li><strong><a href="create_post"> Nuevo post</a></strong></li>
                <li><strong><a href="sobre_nosotros">Sobre nosotros</a></strong></li>
                <li><strong><a href="/"> Volver al inicio</a></li>               
              
                    
            </ul>
        </div>
        
    </header>
    <main>
        {% block main%}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        <div class="foot">
        <p> Creador Nicolas Barbato </p>   
        <p> Contacto:nico_barbato@hotmail.com</p>          

            
        </div>
        {% endblock %}
    </footer>
</body>
</html>