<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div>
            <h1 class="titulos">Blog de Brewing</a></h1>  
        </div>
        <div class="bar">
            <ul class="bar_items">
                <li><a href="login"> Login</a></li>
                <li><a href="create_post"> Nuevo post</a></li>
                <li><a href="sobre_nosotros">Sobre nosotros</a></li>
                <li><a href="/"> Home</a></li>
                
              
                    
            </ul>
        </div>
        
    </header>
    <main>
        {% block main%}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        <div class="foot">
        <p> Creador Nicolas Barbato </p>   
        <p> Contacto:</p>
            <li>Mail: nico_barbato@hotmail.com</li>
            <li>Telefono: 094xxxxx</li>

            
        </div>
        {% endblock %}
    </footer>
</body>
</html>