<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header style="margin: 0%; padding: 0%;">
        <div class="fondo">
        <div>
            <h1 class="titulos">Blog de Brewing</a></h1>  
        </div>
        <div class="barra">
            <ul class="barra_inicio">

                <li><strong><a href="create_post" class="enlace"> Nuevo post</a></strong></li>
                <li><strong><a href="sobre_nosotros"class="enlace">Sobre nosotros</a></strong></li>
                <li><strong><a href="/"class="enlace"> Volver al inicio</a></li> 
                <li><strong><a href="login"class="enlace"> Iniciar sesion</a></strong></li>  
                 {% if session.get("username") %}
                <li><strong><a href="logout"class="enlace"> Cerrar sesion</a></strong></li>  
                 {% endif %}            
                    
            </ul>
        </div>
        
    </header>
    <main>
        {% block main%}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        <div class="foot">
        <p> Creado por Nicolas Barbato </p>   
        <p> Para cualquier consulta o pregunta, no dudes en ponerte en contacto con nosotros: 
            <a href="mailto:nico_barbato@hotmail.com"> Enviar mail.</a>
        </p>
                  

            
        </div>
        {% endblock %}
    </footer>
</body>
</html>