{% extends "base.html" %}


<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Posteo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block main %}
    <h1 class="subtitulo">Crear post</h1>
    <form action="/create_post" method="POST">
        
        <label for="titulo">Titulo:</label><br>
        <input type="text" id="titulo" name="titulo"class="titulo_post"><br>
        <label for="posteo">Contenido del post:</label><br>
        <input type="text" id="posteo" name="posteo" class="comentario"><br>
        <input type="submit" value="Enviar">
    </form>
  
    <p style="color: red;">{{ error }}</p>
{% endblock %}
</html>