{% extends "base.html" %}


{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Brewing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% block main %}
        <h1 class="subtitulo">Ultimos Posts</h1>
        
        <form action="{{ url_for('home') }}">
            <input type="search" id="search" name="search"><br>
            <button type="submit">Buscar</button>
        </form>
         {% for posts in posts %}
         <div class="posts">

            <h3>{{posts[2]}}</h3>
            <h3 style="font-size: small;"> Autor: {{posts[1]}}</h3>
            <a href="/post/{{posts[0]}}" style="font-size: small;">Leer mas..</a>
         </div>
         {% endfor %}

    
{% endblock %}
</html>