{% extends "base.html" %}


{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Brewing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% block main %}
        <h1>Posteos</h1>
         {% for posts in posts %}
            <h3> Autor del post: {{posts.autor}}</h3>
            <p>{{posts.posteo}}</p>
         {% endfor %}

    <footer>
       <p> Creador Nicolas Barbato</p>
       <p>  Contacto (Mandar mail)</p>
    </footer>
{% endblock %}
</html>