{% extends "base.html" %}


<html lang="en">
{% block head %}
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block main %}
    <h1 class="subtitulo">Login</h1>
    <div style="text-align: center;">
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Enviar">
    </form>
    
    <p style="color: red;">{{ error }}</p>
    <p>No tenes cuenta? Registrate <a href="{{ url_for('register') }}">aqui</a></p>
    </div>
{% endblock %}

</html> 