{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Posteos</title>
{% endblock %}

{% block main %}
    <div>
        <h3 style="text-align: center;">{{ post[2] }}</h3>
        
    <div class="posts">
        <p>{{ post[3] }}</p>
        <p>Autor del post: {{ post[1] }}</p>
        
    </div>
  
{% endblock %}