{% extends "base.html" %}


{% block head %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
   


{% block main %} 
   <h1 class="subtitulo"> Para que estamos... </h1>

    <div class="texto1">
    <p>
    En nuestro blog de brewing, exploramos el apasionante arte y ciencia de la cerveza. Desde la fermentación hasta la maduración, nos sumergimos en todos los aspectos de la elaboración casera y profesional de esta deliciosa bebida. Descubre recetas únicas, consejos de expertos, reseñas de cervezas, y entrevistas exclusivas con cerveceros artesanales. También presentamos actualizaciones sobre las últimas tendencias en cerveza, eventos de la industria y las innovaciones más recientes.
    Acompáñanos en un viaje sensorial por el mundo de la cerveza, mientras exploramos su historia, los ingredientes que la componen, maridajes sorprendentes y mucho más. ¿Listo para sumergirte en el delicioso universo de la cerveza? Entonces, ¡sírvete una fría y únete a nosotros en este viaje!
    ¡Salud! 🍻
    </p>
    </div>
{% endblock %}  
